<div style= "padding-left:15px;">

<%= form_for(:article, :url=>{:action=>'update'},   :method => :PUT, :html=>{:multipart=>true}) do |f|%>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  

  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
 
   <p>
    <%= f.label :heroimage %><br>
    <%= f.file_field :hero_image %>
  </p>
  
    <p>
    <%= f.label :optionalimage %><br>
    <%= f.file_field :optional_image %>
  </p>

 <p>
    <%= f.label :content %><br>
    <%= f.text_field :content_body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>

</div>