<h1>Listing articles</h1>

 <%= link_to 'New article', new_article_path %>

<table>

 
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td> </tr>
      <tr><td><%= article.author %></td></tr>
      <tr><td><%= article.category %></td></tr>
      <tr><td><%= article.content_body %></td></tr>

            
  <% end %>
  

</table>

  <%= will_paginate @articles, :param_name => 'articles_page'%>
