<H2> Show article</H2>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <%= @article.content_type %>
    <%= @article.filename %>
    
    <% if not @article.filename.nil?  %>
    sadsaddadas
<img src="<%= url_for(:controller => "articles", 
 :action => "image_view", 
 :id => @article.id) %>" />
 
  <% end%>
   


</p>
 
 
 <%= link_to 'Back', articles_path %>
