<!-- Site footer -->
<div class="bottom" >
    <table colspan ="2" class="whatToread">
      <tr><td style="width:80%">
        <div>
            <table colspan="1" style="width:80%" ><tr><td><h4> What to Read Next <h4></td></tr>
            </table>
        </div>
      </td>
      <td style="width:17%">
        <div class="" style="align:right">
            <table colspan="3" >
              <tr>
              <td> 
                  <%= link_to image_tag("left_arrow.gif", {:controller => "articles", :action => 'pageResults'}) %>
              </td>
              <td><%= image_tag("vertical_line.gif")%></td>
              <td align="rigth"><%= link_to image_tag("right_arrow.gif", {:controller => "articles", :action => 'pageResults'}) %>
              </td>
              </tr>
            </table>
        </div>
      </td>
      </tr>
    </table>
    <div class="container" style="width:100%;" id="displayFooter">
        <% if not @articleResults.nil?  %>
           <% $i = 0 %>
           <% unless @articleResults.size >= 4 %>
             <% $num = @articleResults.size %>
           <%else%>
             <% $num = 4 %>
           <%end%>
           <% while $i < $num  do %>
                <% article = @articleResults[rand(0...@articleResults.size)] %>
                <div class="col-md-3" >
                    <table>
                        <tr><td> <%= link_to image_tag(url_for(:controller => "articles", :action => "image_view_hero", :id => article.id), :size => "260x180"), {:action => 'show', :id => article.id}%>
                        </td></tr>  
                    </table>
                    <tr><td><%= link_to article.title, article_path(article) %></td></tr>
                </div>
                <% $i +=1 %>
                <%end%>
           <%end%>         
    </div>
</div>


